name: Go CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
#    tags:
#      - 'v[0-9]+\.[0-9]+\.[0-9]+' # Push events to matching v*, i.e. v20.15.10
    paths:
      - 'go.*'
      - '*.sh'
      - 'action.yml'
      - '**/*.go'
      - 'scripts/**'
      - '.github/**'
  pull_request:
    branches:
      - '**'
    paths:
      - 'go.*'
      - '*.sh'
      - 'action.yml'
      - '**/*.go'
      - 'scripts/**'
      - '.github/**'

jobs:

  strongo_workflow:
    permissions:
      contents: write
    uses: strongo/go-ci-action/.github/workflows/workflow.yml@main

    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #      gh_token: ${{ secrets.GH_PAT_READWRITE_REPOS }}

    with:
      disable-version-bumping: false

  verify_action:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run action.yml
        uses: ./
