name: CI

on:
  workflow_dispatch:

  push:
    branches:
      - main
    #    tags:
    #      - 'v[0-9]+\.[0-9]+\.[0-9]+' # Push events to matching v*, i.e. v20.15.10
    paths:
      - 'go.*'
      - '*.sh'
      - 'action.yml'
      - '**/*.go'
      - '.github/workflows/**.yml'
  pull_request:
    branches:
      - '**'
    paths:
      - 'go.*'
      - '*.sh'
      - 'action.yml'
      - '**/*.go'
      - '.github/workflows/**.yml'

jobs:

  strongo_workflow:
    name: Build & Test
    uses: strongo/go-ci-action/.github/workflows/workflow.yml@main
    with:
      disable-version-bumping: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release_workflow:
    name: Release
    if: github.ref == 'refs/heads/main'  # run only on main branch
    uses: strongo/go-ci-action/.github/workflows/release.yml@main
    needs: [ strongo_workflow ]
