name: Release
on:
  workflow_run:
    workflows: [ "CI" ]
    types:
      - completed

jobs:
  release:
    name: Release
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    uses: strongo/go-ci-action/.github/workflows/release.yml@main
